.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.active {
    background-color: indianred;
}

.allTasks {
    color: forestgreen;
}

.activeTasks {
    color: indianred;
}

.completedTasks {
    text-decoration: line-through;
}

.error {
    outline: none;
    border: 2px solid red;
}